body{
    font: 20px Arial,  Helvetica, sans-serif;
    background:  blue url("img/RevistaMotoclubesFundo.jpg") repeat;
}

main {
    background-color: rgb(220, 236, 241);
    max-width: 900px;
    min-width: 400px;
    margin: auto;
    padding: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

.navbar {
    background-color: #000000;
}

.encontros{
    background-color: #999999;
    color: white;
}

.motoclubes{
    background-color: #999999;
    color: white;
}

.contato{
    background-color: #696969;
    color: white;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: 10px;
}

.bg-footer{
    background-color: #000000;
    color: white;
}